<head><script src="{{ url_for('static', filename='index.js') }}"></script></head>
<body onload="hide()"></body>
{% extends "base.html" %}
<title>{{title}}
{% block content %}
<div align='center'><span style="color: red;float:center;">{{error}}</span>
    {%if not current_user.is_authenticated()%}
	<span style="color: red;text-align:center;">Sign in to add details</span></div>{%endif%}{%if current_user.is_authenticated() and not current_user.confirm%}<div style="color: red;text-align:center;">please confirm your email{%endif%}</div>
<div align="center">
    <table border="1">
  	<tr>
    		<th>Id</th>
    		<th>Name</th>
		<th>Mark</th>
		{%if current_user.is_authenticated()%}
		<th>Edit</th>
		{%endif%}
  	</tr>
    {% for post in posts %}
	<tr><form action="" method="post" name="post">{{ form.hidden_tag() }}<input name='idid' class="idid" value='{{post[0]}}' id='idid' style="display:None"></input>
    		<td>{{post[0]}}</td>
   		<td value={{post[1]}} name='tname' id={{post[0]}}>{{post[1]}}<span class='tname' name={{post[0]}}><input value="{{post[1]}}" type='text' name='tname{{post[0]}}' required></span></td>
		<td>{{post[2]}}<span class='tname' name={{post[0]}}><input type='text' value="{{post[2]}}" name='tmark{{post[0]}}' required></span></td>
		{%if current_user.is_authenticated()%}<td><button type="button" id="button{{post[0]}}" name="bedit"value="edit" onclick="makevisible({{post[0]}})">edit</button><button class="hbutton" type="submit" id="hbutton{{post[0]}}" name="edit"value="edit" onclick="makevisible({{post[0]}})">update</button></td>
{%endif%}  	</tr></form>
    {% endfor %}
    </table>
<hr>
{%if current_user.is_authenticated()%}
	<form action="" method="post" name="post">
	{{ form.hidden_tag() }}
	name{{form.name(value='')}}<br>
	mark{{form.mark(value='')}}
	<p><input name="submit" type="submit"  value="submit"></p>
	</form>
{%endif%}</div>
{% endblock %}
